@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1e0555;
}

body,
.text-input {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3rem;
}

h2 {
  color: #f0db4f;
}
.container {
  background-color: #f0db4f;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
}
.timer {
  font-size: 3rem;
  color: #f0db4f;
  font-weight: bold;
  margin: 2rem 0;
}
.text-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  font-size: 1.3rem;
}
.text-input {
  background-color: transparent;
  border: 2px solid #a1922e;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 8rem;
  margin: auto;
  padding: 0.5rem 1rem;
  resize: none;
  outline: none;
}
.text-input:focus {
  border-color: #333;
}
.correct {
  color: #2fb62b;
  font-weight: 700;
}
.incorrect {
  color: #ff0000;
  font-weight: 700;
  text-decoration: underline;
}
